@using ChiaSeCode_TH.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<Code>
@{
    ViewBag.Title = "CodeTaiNhieu";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<!--Menu-->
@Html.Action("MenuNo", "HienThi")
<!--//Menu-->
<!--Thanh công cụ-->
@Html.Action("ThanhCongCu", "HienThi")
<!--//Thanh công cụ-->
<!--Giao diện trang chủ-->
<div class="content_middle">
    <div class="container">
        <div class="content_middle_box">
            @Html.Action("NgonNgu", "LocCode")<br />
            <center>@Html.Action("TheLoai", "LocCode")</center>

            <div class="top_grid">
                <br />
                <center style="font-size: 30px; color: saddlebrown"><i class="fa fa-upload">&nbsp;</i>CODE TẢI NHIỀU&nbsp;<i class="fa fa-upload"></i></center>
                @foreach (var item in Model)
                {
                    <div class="col-md-3" style="margin-top: 1%;">
                        <div class="grid1">
                            <a href="@Url.Action("XemChiTiet", "XemChiTiet", new {@macode = item.MaCode })">
                                <div class="view view-first">
                                    <div class="index_img1"><img src="@Url.Content("~/HinhAnh/"+item.HinhAnh)" class="img-responsive" alt="" style="width: 100%; height: 160px" /></div>
                                    <div class="mask">
                                        <div class="info"><i class="search"> </i> Xem chi tiết</div>
                                        <ul class="mask_img">
                                            <li class="star"><img src="~/Content/Layout/images/star.png" alt="" /></li>
                                            <li class="set"><img src="~/Content/Layout/images/set.png" alt="" /></li>
                                            <div class="clearfix"> </div>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <div style="margin-top: 1%">
                                <div style="background-color: #4267b2; width: 49%; height: 30px;float: left;">
                                    <span><i class="fa fa-eye" style="font-size: 15px; color: white; margin-top: 6%; margin-left: 20%">&nbsp;@item.LuotXem</i></span>
                                </div>
                                <div style="background-color: #4267b2; width: 49%; height: 30px; float: right;">
                                    <span><i class="fa fa-upload" style="font-size: 15px; color: white; margin-top: 6%; margin-left: 20%">&nbsp;@item.LuotTai</i></span>
                                </div>
                            </div>
                            <div class="inner_wrap" style="width: 100%; height: 160px">
                                <b>@item.TheLoai.TenTheLoai</b>
                                <h3 style="color: saddlebrown; font-weight: bold">@item.TenMaCode</h3>
                                <ul class="star1">
                                    <h4 class="yellow" style="color: red;">@item.DanhMuc.TenDanhMuc</h4>
                                    <li><a href="#"> <img src="~/Content/Layout/images/star2.png" alt=""><br />(@item.NgayDang)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"> </div>
                <center>@Html.PagedListPager(Model, Page => Url.Action("CodeTaiNhieu", new { Page = Page }))</center>
                <div class="clearfix"> </div>
            </div>
            @Html.Action("TrangChu2", "HienThi")
            <div class="top_grid wow fadeInRight" data-wow-delay="0.4s">
                @Html.Action("TatCaCodeWebsite", "LocCode")
                <div class="clearfix"> </div>
                @Html.Action("TatCaCodeGame", "LocCode")
                <div class="clearfix"> </div>
                @Html.Action("TatCaCodeUngDung", "LocCode")
                <div class="clearfix"> </div>
            </div>
        </div>
        @Html.Action("ChanTK", "HienThi")
    </div>
</div>
@Html.Action("ChanTrang", "HienThi")







