@using ChiaSeCode_TH.Models;
@model Code
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/Layout.cshtml";
}
@{
    NguoiDung ses = (NguoiDung)Session["NguoiDung"];
    NguoiDung sesad = (NguoiDung)Session["Admin"];
    Int32 tmp = (Int32)Model.DanhGia;
    float dg = (float)Model.DanhGia;
}
<!--Menu-->
@Html.Action("MenuNo", "HienThi")
<!--//Menu-->
<!--Thanh công cụ-->
@Html.Action("ThanhCongCu", "HienThi")
<!--//Thanh công cụ-->
<!--Giao diện trang chủ-->
<div class="content_middle">
    <div class="container">
        <div class="content_middle_box">
            <div class="living_middle">
                <div class="container" style="margin-top: -8%">
                    <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.4s">

                        <ul class="feature">
                            <li><center style="font-size: 20px; font-weight: bold"><i class="fa fa-image">&nbsp;</i>ẢNH CODE</center></li>
                            <li class="feature_right">
                                <p>
                                    <img src="@Url.Content("~/HinhAnh/"+Model.HinhAnh)" class="img-responsive" alt="" style="width: 100%; height: 160px; border-radius: 5px; box-shadow: 2px 2px 2px 2px" />
                                </p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="feature">
                            <li><img src="~/HinhAnh/user.png" style="width: 20%" /><b>Người đăng: <span style="color: forestgreen">@Model.NguoiDung.TenHienThi</span></b></li>
                            <li class="feature_right">
                                <p style="margin-left: 30%">
                                    <b style="color: black"><i class="fas fa-arrow-circle-right">&nbsp;</i>Đã chia sẽ: 0 code</b><br />
                                    <b style="color: black"><i class="fas fa-arrow-circle-right">&nbsp;</i>Game: 0 code</b><br />
                                    <b style="color: black"><i class="fas fa-arrow-circle-right">&nbsp;</i>Website: 0 code</b><br />
                                    <b style="color: black"><i class="fas fa-arrow-circle-right">&nbsp;</i>App windown: 0 code</b><br />
                                    <b style="color: black"><i class="fas fa-arrow-circle-right">&nbsp;</i>Mobile: 0 code</b><br />
                                </p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="feature last_grid">
                            <li class="feature_right">
                                <center><h3 style="color: green">Lựa chọn</h3></center>
                                <p>
                                    <a class="btn btn-danger" style="margin-top: 1%; width: 100%"><b>Báo cáo bản quyền [Mã: @Model.MaCode]</b></a>
                                    <a class="btn btn-danger" style="margin-top: 1%; width: 100%"><b>Điều khoản sử dụng</b></a><br />
                                    <a class="btn btn-danger" style="margin-top: 1%; width: 100%"><b>Nội quy website</b></a><br />
                                    <a class="btn btn-danger" style="margin-top: 1%; width: 100%"><b>Liên hệ</b></a>
                                </p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    @*Phải*@
                    <div class="col-md-8 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="educate_grid">
                            <!--Tên code-->
                            <h2>@Model.TenMaCode <span style="color: green">[Mã code: @Model.MaCode]</span></h2>
                            <!--Tâm điểm-->
                            @if (tmp == Model.DanhGia)
                            {
                                for (int i = 1; i <= tmp; i++)
                                {
                                    <a href="@Url.Action("danhGia", "DanhGia", new { @n = i })"><b><i class="fa fa-star" style="color: rgb(239, 197, 41)"></i></b></a>
                                }
                                for (int i = tmp + 1; i <= 5; i++)
                                {
                                    <a href="@Url.Action("danhGia", "DanhGia", new { @n = i })"><b><i class="far fa-star"></i></b></a>
                                }
                            }
                            else
                            {
                                for (int i = 1; i <= tmp; i++)
                                {
                                    <a href="@Url.Action("danhGia", "DanhGia", new { @n = i })"><b><i class="fa fa-star" style="color: rgb(239, 197, 41)"></i></b></a>
                                }
                                <a href="@Url.Action("danhGia", "DanhGia", new { @n = tmp+1 })"><b><i class="fas fa-star-half-alt" style="color: rgb(239, 197, 41)"></i></b></a>
                                for (int i = tmp + 2; i <= 5; i++)
                                {
                                    <a href="@Url.Action("danhGia", "DanhGia", new { @n = i })"><b><i class="far fa-star"></i></b></a>
                                }
                            }
                            <b>(@dg.ToString("0.0")/@Model.LuotDanhGia) điểm</b>
                            <b style="float: right; color: red;"><i class="fa fa-eye">&nbsp;</i>@Model.LuotXem</b>
                            <b style="float: right; color: red;"><i class="fa fa-download">&nbsp;</i>@Model.LuotTai<span>&nbsp;&nbsp;&nbsp;</span></b>
                            <hr style="border: dashed 1px" />
                            <div style="float: left">
                                <b>Ngôn ngữ code:&nbsp;<span style="color: forestgreen">@Model.DanhMuc.TenDanhMuc</span></b><br />
                                <b>Thể loại:&nbsp;<span style="color: forestgreen">@Model.TheLoai.TenTheLoai</span></b><br />
                                <b>Ngày đăng - thời gian đăng:&nbsp;<span style="color: forestgreen">@Model.NgayDang</span></b><br />
                                <b>Dung lượng:&nbsp;<span style="color: forestgreen">0 MB</span></b><br />
                            </div>
                            @if (ses != null)
                            {
                                <a href="@Url.Action("downLoad", "Download")" class="btn btn-danger" style="height: 60px; width: 40%; float: right"><b style="font-size: 30px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD</b></a>
                            }
                            else if (sesad != null)
                            {
                                <a href="@Model.LinkTai" class="btn btn-danger" style="height: 60px; width: 40%; float: right"><b style="font-size: 30px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD</b></a>
                            }
                            else
                            {
                                <a class="btn btn-danger" style="height: 60px; width: 40%; float: right" data-toggle="modal" data-target="#myModal"><b style="font-size: 30px"><i class="fa fa-download">&nbsp;</i>DOWNLOAD</b></a>
                            }
                            <div class="clearfix"></div>
                            <br />
                            <div style="background-color: white; width: 100%; height: 120px; border: dashed 1px red; border-radius: 5px;">
                                <div style="margin-left: 35%">
                                    <b style="font-size: 18px;"><i class="far fa-check-square" style="color: green">&nbsp;</i>Không mã độc.</b><br />
                                    <b style="font-size: 18px;"><i class="far fa-check-square" style="color: green">&nbsp;</i>Có hướng dẫn cài đặt.</b><br />
                                    <b style="font-size: 18px;"><i class="far fa-check-square" style="color: green">&nbsp;</i>Chất lượng tốt.</b><br />
                                </div>
                                @if (ses != null)
                                {
                                    <center><b><span style="color: red;">Chú ý: Bạn có thể tải code này!</span></b></center>
                                }
                                else
                                {
                                    <center><b><span style="color: red;">Chú ý: Bạn phải đăng nhập mới tải được code này!</span></b></center>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: 5%;">

                    <div style="background-color: forestgreen; width: 30%; height: 30px; border-radius: 10px 10px 0px 0px;">
                        <center style="color: white; font-size: 20px;">Nội dung - Mô tả</center>
                    </div>
                    <div style="border: 1px solid forestgreen; width: 100%; height: 100%; border-radius: 0px 10px 10px 10px;">
                        <p style="margin-top: 20px">
                            <div style="margin-left: 20px">@Html.Raw(Model.NoiDungCode)</div>
                        </p>
                    </div>

                </div>
                <div class="container" style="margin-top: 5%;">

                    <div style="background-color: forestgreen; width: 30%; height: 30px; border-radius: 10px 10px 0px 0px;">
                        <center style="color: white; font-size: 20px;">Hướng dẫn cài đặt</center>
                    </div>
                    <div style="border: 1px solid forestgreen; width: 100%; height: 100%; border-radius: 0px 10px 10px 10px;">
                        <p style="margin-top: 20px">
                            <div style="margin-left: 20px">@Html.Raw(Model.NoiDungCaiDat)</div>
                        </p>
                    </div>

                </div>
            </div>
            @Html.Action("DangNhap", "DangNhap")

            @{ Html.RenderAction("BinhLuanCode", "BinhLuan", new { @macode = Model.MaCode });}
            @Html.Action("TrangChu2", "HienThi")
            <div class="top_grid wow fadeInRight" data-wow-delay="0.4s">
                @Html.Action("TatCaCodeWebsite", "LocCode")
                <div class="clearfix"> </div>
                @Html.Action("TatCaCodeGame", "LocCode")
                <div class="clearfix"> </div>
                @Html.Action("TatCaCodeUngDung", "LocCode")
                <div class="clearfix"> </div>
            </div>
        </div>
        @Html.Action("ChanTK", "HienThi")
    </div>
</div>

@Html.Action("ChanTrang", "HienThi")
