<li>
    <a href="/Admin/Codes/Create">

        <i class="fa fa-file-code" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main">@Html.Action("DemCodeAD", "HienThiAdmin") CODE</h4>
            <h3 class="ca-sub">Quản lý code</h3>
        </div>
    </a>
</li>
<li>
    <a href="/Admin/NguoiDungs/Create">
        <i class="fa fa-user" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main one">@Html.Action("DemNguoiDungAD", "HienThiAdmin") NGƯỜI DÙNG</h4>
            <h3 class="ca-sub one">Quản lý người dùng</h3>
        </div>
    </a>
</li>
<li>
    <a href="/Admin/TinTucs/Create">
        <i class="fa fa-newspaper" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main two">@Html.Action("DemTinTuc", "HienThiAdmin") TIN TỨC</h4>
            <h3 class="ca-sub two">Quản lý tin tức</h3>
        </div>
    </a>
</li>
<li>
    <a href="/Admin/HienThiAdmin/DanhMucTheLoai">
        <i class="fa fa-tasks" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main three">@Html.Action("DemDanhMuc", "HienThiAdmin") DM + @Html.Action("DemTheLoai", "HienThiAdmin") TL</h4>
            <h3 class="ca-sub three">Quản lý danh mục + thể loại</h3>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <i class="fas fa-globe-americas" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main four">Thống kê</h4>
            <h3 class="ca-sub four">Thống kê</h3>
        </div>
    </a>
</li>
<li>
    <a href="/HienThi/Index">

        <i class="fa fa-home" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main">Trang chủ</h4>
            <h3 class="ca-sub">Trang chủ</h3>
        </div>
    </a>
</li>
