@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<ChiaSeCode_TH.Models.Code>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/LayoutAdmin/LayoutAdmin.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>
            <b><i class="fa fa-file-code">&nbsp;</i>Tên code</b>
        </th>
        <th>
            <b><i class="fa fa-image">&nbsp;</i>Ảnh</b>
        </th>
        <th>
            <b><i class="fa fa-newspaper">&nbsp;</i>Ngày đăng</b>
        </th>
        <th>
            <b><i class="fa fa-eye">&nbsp;</i>Lượt xem</b>
        </th>
        <th>
            <b><i class="fa fa-upload">&nbsp;</i>Lượt tải</b>
        </th>
        <th>
            <b><i class="fas fa-align-justify">&nbsp;</i>Danh mục</b>
        </th>
        <th>
            <b><i class="fas fa-mail-bulk">&nbsp;</i>Email</b>
        </th>
        <th>
            <b><i class="fas fa-align-justify">&nbsp;</i>Phân loại</b>
        </th>
        <th>
            <b><i class="fas fa-align-justify">&nbsp;</i>Duyệt</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenMaCode)
    </td>
    <td>
        <img src="@Url.Content("~/HinhAnh/"+item.HinhAnh)" style="width:100px; height:50px;" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LuotXem)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LuotTai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NguoiDung.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NguoiDung.Email)
    </td>
    <td>
        @if (item.Duyet == true)
        {
            <b>Đã duyệt</b>
        }
        else
        {
            <b>Chưa duyệt</b>
        }
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.MaCode }) |
        @Html.ActionLink("Xem", "Details", new { id = item.MaCode }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaCode })
    </td>
</tr>
    }
</table>
<center>@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))</center>
